{{define "body"}}

<script type="module">
  import { render } from 'preact';
  import { html } from 'htm/preact';
  import './static/comp-lit/x-swapped.js';
  import './static/comp-lit/x-button.js';
  import { play } from './static/comp-lit/icons.js';

  export function Page() {
    return html`
    <div >
      <a href="/main/posts">Posts</a>
      <x-button icon=${play} caption="Button without purpose"></x-button>  
      <button>load some html</button>
      <x-swapped hx-post="/main/toswap" hx-trigger="click from:button" hx-swap="innerHTML"></x-swapped>
    </div>
    `;
  }

  render(html`<${Page} />`, document.body);
</script>

{{end}}