{{define "body"}}
<html>
<body>
</body>
<script type="module">
  import { render } from 'preact';
  import { html } from 'htm/preact';
  import './static/comp-lit/x-post.js';
  
  export function Abstract() {
    return html`
        <p>Questo è il sito <a href="/main">invido.it</a> che prende il nome dall'omonimo gioco delle carte Invido, un simpatico gioco di carte praticato nella bassa padana.</p>
    `;
  }  

  export function Posts() {
    const title = "Benvenuti su Invido.it";
    return html`
    <x-post title="${title}"><${Abstract} /></x-post>
    `;
  }

  render(html`<${Posts} />`, document.body);
</script>

</html>
{{end}}